* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* google font => roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

body {
    background-color: #e84393 !important;
    font-family: "Roboto", sans-serif;
}

.bg-nav {
    background-color: #fab1a0;
}

.head-bold{
    font-weight: bold;
}
.nav-center{
    margin-left: 35%;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
}

.video-container {
    width: 50%;
    height: auto;
    margin-right: 5rem;
}

.video {
    width: 100%;
    height: auto;
}

.main {
    width: 50% !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-center {
    margin-left: 25%;
}

#box {
    width: 100%;
    box-shadow: 0px 0px 5px grey;
    background-color: white !important;
    border-radius: 1rem !important;
    padding: 15px !important;
}

.greeting {
    font-size: 2rem;
    font-weight: bold;
    color: #ffcc00;
}

.message {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #444444;
    margin-bottom: 10px;
}

.row {
    width: 100% !important;
    margin: 1rem !important;
    margin-left: 0% !important;
}

.btn {
    width: 100% !important;
    padding: 2% !important;
    background-color: #e84393 !important;
    font-size: 1.2rem !important;
    color: white !important;
    border: none !important;
    border-radius: 0.5rem !important;
}

.btn:hover {
    background-color: #ff007b !important;
    color: aliceblue !important;
}

/* styling of final message */

.wrapper {
    max-width: 800px;
    margin-top: 2rem;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid #333333;
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2/5rem;
    font-weight: bold;
    color: #333333;
}

.header p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666666;
}

.content {
    text-align: center;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 10px;
}

.content img {
    display: block;
    margin: 0 auto;
    border: 2px solid #333333;
    border-radius: 10px;
}

.footer {
    text-align: center;
}

.footer marquee {
    font-size: 1.2rem;
    font-style: italic;
    color: #333333;
}
